@import '../../variables';

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}
.active {
    background: $background-moredark;
}

.container div {
    color: rgb(38, 39, 39);
}

mat-toolbar > a {
    margin-left: 15px;
}

// .container {
//     padding-left: 15%;
//     padding-right: 15%;
// }