$fa-font-path : '../node_modules/font-awesome/fonts';

$lt-gray: #ddd;
$background-dark: #207d94;
$background-light: #94c4bd;
$background-pale: #9ef0f3;
$primary-color-dark:   #0c5674;
$primary-color:        #036964;
$primary-color-light:  #ccdddc;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$background-moredark:  #062527;