$fa-font-path : '../node_modules/font-awesome/fonts';

$lt-gray: #ddd;
$background-dark: #207d94;          //not being used?
$background-light: #d7d9d9;         //Header background
$background-pale: #647774;          //Footer color
$primary-color-dark:   #78a6b7;     //Toolbar background
$primary-color:        #0a423f;
$primary-color-light:  #ccdddc;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$background-moredark:  #3f7276;     //selected button highlight 